body {
  background: rgb(22, 16, 32);
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  color: rgb(142, 172, 255);
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 6px;
  margin-top: 65px;
  margin-bottom: 50px;
}

h2 {
  font-size: 14px;
  font-weight: 900;
}


